<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <img *ngIf="colorScheme" src="/assets/img/ori-logo-header-{{colorScheme == 'light' ? colorScheme : 'dark'}}.svg" role="presentation">

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="he-page" [innerHTML]="'term.page' | translate">
</ion-content>
