<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <!-- <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons> -->
        <ion-title>
            <img *ngIf="colorScheme" src="/assets/img/ori-logo-header-{{colorScheme == 'light' ? colorScheme : 'dark'}}.svg" role="presentation">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <h1>About ORIBU</h1> -->
    <h1>{{'core.aboutori' | translate}}</h1>


    <div class="about-container">
        <ion-label>
            {{'core.mainmenu.about.bournemouthuniversity' | translate}}
        </ion-label>
        <ion-label>
            {{'core.mainmenu.about.osteoarthritis' | translate}}
        </ion-label>
        <ion-label>
            {{'core.mainmenu.about.highquality' | translate}}
        </ion-label>
        <!-- <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <img src="/assets/img/About.jpg" alt="About">
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label> -->
    </div>
</ion-content>
