<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <!-- <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons> -->
        <ion-title>
            <img src="/assets/img/ori-logo-header-light.png" role="presentation">

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <h1>About ORIBU</h1> -->
    <h1>About ORI</h1>


    <div class="about-container">
        <ion-label>
            The Orthopaedic Research Institute (ORI) of Bournemouth University works across Dorset and on a National scale to improve the outcomes of patients with osteoarthritis and related diseases. We work with hospitals, industry partners and academia to produce high quality research and educational outputs that have a proven impact for patients, clinicians and society.
        </ion-label>
        <ion-label>
            A particular area of expertise for ORI is osteoarthritis – a condition which clinicians in Dorset are frequently faced with, owing to the high numbers of older people living in the region. By producing high quality research and teaching in this area, ORI has the potential to make a real impact on local and national practice.
        </ion-label>
        <ion-label>
            We are driven by the needs of our patients, clinical colleagues and wider society to produce high quality academic and patient outcomes across the fields of orthopaedic surgery, related diseases, treatments, technologies and devices. Our research informs our education programmes, that are designed to disseminate evidence-based care for osteoarthritis to patients, students and clinicians.
        </ion-label>
        <!-- <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <img src="/assets/img/About.jpg" alt="About">
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label>
        <ion-label>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            A beatae eveniet ex incidunt inventore itaque laudantium mollitia nihil praesentium,
            quasi quibusdam sint veritatis voluptatibus? Blanditiis laudantium nesciunt nobis tempore velit.
        </ion-label> -->
    </div>
</ion-content>
